@import './mixins'
@import './variables'

form
    display: flex
    width: 20vw
    margin-left: 40vw
    flex-direction: column
    gap: 2rem
    div
        width: 15vw
        display: flex
        align-items: center
        justify-content: space-between       
    label
        font-size: 25px
        color: $green
    input
        border: 0.2rem solid $green
        height: 2.5rem
        margin:0 0.5rem
        border-radius: 1rem
    button
        height: 2.5rem
        border: 0.2rem solid $green 
        border-radius: 1rem
        color: $green   
        