@import "./variables"
@import "./mixins"
@import "./reset"

nav
  width: 100%
  height: 10vh
  margin: 0 auto
  @include displayFlex
  justify-content: space-around
  position: absolute
  top: 0
  left: 0
  background: $white
  ul
    height: 100%
    @include displayFlex
    justify-content: space-around
    a
      &:hover
        color: $primary-color
        transition: 400ms
    .main-title
      font-weight: bold
      font-size: 1.5rem
      a
        @include displayFlex
        gap: 0.5rem
      img
        width: 2rem
        height: 2rem
    #nav-links
      font-size: 1.2rem
      @include displayFlex
      gap: 2rem

      
    