@import './variables'
@import './mixins'

main
    width: 100%
    height: 70vh
    @include displayFlex
    margin: 5rem auto
    flex-direction: column
    background-color: $white
    h1
        font-size: 6rem
        text-align: center
        font-family: $main-font
        font-weight: 700
        color: $secondary-color
        padding-bottom: 10rem
    