@import "./variables"
@import "./mixins"
@import "./header"
@import "./reset"
@import "./main"
@import "./forms"

*
    font-family: $main-font !important
    a
        text-decoration: none
        color: inherit